<div class = "container">
    <div class = "card">
        <h3 class="text-center">Loan Details</h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Laon Amount</th>
                    <th>Property Address</th>
                    <th>Loan Term</th>
                    <th>Loan Type</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let ln of loans">
                        <td>{{ln.id}}</td>
                        <td>{{ln.loan_amount}}</td>
                        <td>{{ln.property_address}}</td>
                        <td>{{ln.loan_term}}</td>
                        <td>{{ln.loan_type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>